PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1QAIRhLGigSXf1PztaCAu4Hg
STRIPE_ENDPOINT_SECRET=

# https://www.mercadopago.com.ar/developers/panel
MP_ACCESS_TOKEN=TEST-4915242469014427-111101-0cafa5388b3091820b2b19710e412f6a-398949448

NATS_SERVERS="nats://localhost:4222"